<!-- Modal -->
<div id="battlefield-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
  <!-- Modal content-->
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Add Battlefield</h4>
          </div>
          <form id='add-result' method="post" action="/battlefields">
              <div class="modal-body">
                  <div class="form-row">
                      <div class="form-group col">
                          <input type="text" name='name' class="form-control" id="battlefield_name" aria-describedby="Battlefield Name" placeholder="Battlefield Name">
                      </div>
                  </div>
                  

                  <div class="spinner-border m-auto d-none" role="status">
                      <span class="sr-only">Loading...</span>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  <input type='submit' class="btn btn-primary" data-dismiss=""></input>
              </div>
          </form>
      </div>
  </div>
</div>