<!-- Modal -->
<div id="format-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
  <!-- Modal content-->
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Add Format</h4>
          </div>
          <form id='add-format' method="post" action="/formats">
              <div class="modal-body">
                  <div class="form-row">
                      <div class="form-group col">
                          <input type="text" name='name' class="form-control" aria-describedby="Format Name" placeholder="Format Name">
                      </div>
                  </div>
                  
                  <div class="form-row">
                    <div class="form-group col">
                        <input type="text" name='description' class="form-control" aria-describedby="Format Description" placeholder="Format Description">
                    </div>
                </div>

                  <div class="spinner-border m-auto d-none" role="status">
                      <span class="sr-only">Loading...</span>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  <input type='submit' class="btn btn-primary" data-dismiss=""></input>
              </div>
          </form>
      </div>
  </div>
</div>